node_modules
.next
playwright-report
test-results
.git
.env
.env.*
**/.env
**/.env.*
.npmrc
**/.npmrc
*.pem
**/*.pem
*.key
**/*.key
*.p8
**/*.p8
*.p12
**/*.p12
*.pfx
**/*.pfx
**/*private*key*
**/*credentials*
**/id_rsa*
**/id_ed25519*
**/id_ecdsa*
**/id_dsa*
